<div class="contianer">
  <div class="contianer__card">

    <h1>Reset Account Passowrd</h1>
    <h4>Please enter new password</h4>

    <form class="contianer__form" [formGroup]="resetPassword" (ngSubmit)="passwordReset()">

      <label for="password">Password: </label>
      <input id="password" type="password" required formControlName="password">

      <label for="PasswordConfirm">PasswordConfirm: </label>
      <input id="passwordConfirm" type="password" required formControlName="passwordConfirm">

      <button class="button-3" type="submit">Change Password</button>


    </form>

  </div>
</div>
