<div class="contianer">
    <div class="contianer__card">
  
      <h1>Forgot Password?</h1>
      <h4>Please enter your email and we will send your reset Password link</h4>
  
      <form class="contianer__form"  [formGroup]="forgotForm" (ngSubmit)="Forgot()">
  
        <label for="email">Email: </label>
        <input id="email" type="email" required formControlName="email">

        <div *ngIf="forgotForm.controls['email'].invalid && forgotForm.controls['email'].touched"
        class="alert alert-danger">
        Valid Email is required.
      </div>
  
        <button class="button-3" type="submit">Send Reset Link</button>
  
  
      </form>
  
      <a routerLink="/login"> Know the password? Click to login </a>
  
    </div>
  </div>
  